* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E23955;
    width: 100%;
    padding: 2.5%;
    height: 100vh;
}

.titulo_imagen_poketoriaPokebola {
    display: flex;
    padding: 4vh 4vh 0vh 4vh;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.imagen_pokebola {
    height: 20vh;
    width: 14vw;
}

.imagen_poketoria {
    width: 46vw;
    height: 18vh;
}

.contenido {
    background-color: #ECFAFB;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 31px;
    width: 94vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center
}

.contenido2 {
    background-color: #ECFAFB;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 31px;
    width: 94vw;
    height: 70%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    align-items: center
}

main p {
    font-family: 'Press Start 2P', serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10vh;
}

.contenedor1 button {
    border: 3px solid;
    border-radius: 20PX;
    margin: -3vh 4vh 7vh 4vh;
    padding: 0% 4% 1% 3%;
    background-color: #F5EEC9;
}

button .imagen_boton {
    width: 100%;
    margin: 2%;
    padding: 4%;
}

button .imagen_boton3 {
    width: 16vw;
    margin: 1vw;
    padding: 1vw;
    height: 13vh;
    align-self: center;
}

.contenedor1 div {
    display: flex;
    justify-content: space-between;
    width: 81vw;
}

button h3 {
    font-family: 'Press Start 2P', serif;
    font-size: 15px;
    text-align: center;
    border-top: 3px solid black
}

#johto,
#kanto {
    width: 14vw;
    height: 14vw;
    margin-bottom: -14vh;
    cursor: pointer;
}

#ambos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14vw;
    margin-top: -14vh;
    width: 22vw;
    cursor: pointer;
}

#flechaVolver {
    cursor: pointer;
    /* position: relative; */
    color: #E23955;
    text-decoration: none;
    /* margin-left: 80vw; */
    margin-bottom: 18vh;
    /* padding: 1%;  */
    font-size: 30px;
}

#flechaVolver:hover {
    color: #E23955;
    text-shadow: 0 0 10px #dcb8be, 0 0 40px #dcb8be, 0 0 80px #dcb8be;
}

.tarjetaIndividual {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 10vh 10vh 10vh;
    grid-gap: 20px;
    grid-template-areas: "." "pokeNum pokeNombre pokeImg" ".";
}


/* #pokeNum {
    grid-area: pokeNum;
}

#pokeNombre {
    grid-area: pokeNombre;
}

#pokeImg {
    grid-area: pokeImg;
} */

#listadoPokemon {
    display: flex;
    flex-direction: column;
    margin-top: -4vh;
}


/* .tarjetaIndividual {
    background-color: #DC9091;
} */

.tarjetaPokemon {
    background-color: #DC9091;
    border-radius: 34px;
    height: 70px;
    margin: 2px 0;
}

.pokeImg {
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

h3 {
    font-family: 'Press Start 2P', serif;
    font-size: 15px;
    margin: auto 0;
}

.pokeNum {
    margin-left: 5vh;
}


/* .opciones {
    display: flex;
    flex-direction: row;
} */

h4 {
    font-family: 'Press Start 2P', serif;
    font-size: 15px;
    text-align: center;
    width: 20vw;
    padding-left: 5vh;
    margin-top: 1.2vh;
}

#tipo,
#orden {
    margin-left: 5vh;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border-radius: 15px;
    border: #000000 solid;
    width: 20vw;
    font-family: 'Press Start 2P', serif;
    margin-bottom: 2.5vh;
    background: #C4C4C4;
    cursor: pointer;
    margin-right: 10vh;
}

.opciones {
    position: relative;
    display: flex;
    width: 15vh;
    height: 8vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.opciones::after {
    content: '\25BC';
    position: absolute;
    top: 20%;
    right: 97vh;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
}

.opciones:hover::after {
    color: #2F3EC9;
}

.imagen_poketoria_2 {
    width: 46vw;
    height: 18vh;
    margin-top: 8vh;
}