*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(IMG/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    }

.flex-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

header{
    background-color: black;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.logo{
    margin-top: 10px;
    float: left;
}

h1{
    color: whitesmoke;
    font-weight: bold;
    font-size: 35px;
    margin-left: 400px;
    line-height: 100px;
}

nav{
    display:flex;
    justify-content: space-between;
    margin:0px;
    padding:0px;
    position: absolute;
    top: 100px;
    width: 100%;
}

/*<ul class = "nav-menu>*/
.nav-menu{
    display: inline-block;
    background-color:darkmagenta;
    margin-left: 0px;
    line-height: 25px;
    text-align:center;
}

/*<li class = "menu peliculas"> y <li class = "menu personajes">*/
li{
    display:inline-block;
    width: 523px;
}

/*<a href="#" class = "nav-link">*/
.nav-link{
    display: block;
    color: snow;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.nav-link:hover{
    background-color:plum;
    color: black;
    text-transform:uppercase;
    transition: 0.5s;
}

/*<nav class =".sort-by>*/
.sort-by{
    display: block;
    color: snow;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 140px;
    background-color:darkmagenta;
    line-height: 25px;
    text-align:center;
    border-radius: 5px;
}

.sort-by:hover{
    background-color:plum;
    color: black;
    transition: 0.5s;
}

.nav-sort li a{
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    width: 120px;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin: 1px 1px 1px 10px;
    


}

.nav-sort li a:hover{
    background-color:plum;
    color: black;
    transition: 0.5s;

}

.nav-sort li{
   
    display: none;
}



main{
    position: absolute;
    top: 300px;
}



footer{
    position: absolute;
    top: 1000px;
}


