  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  body {
      background-color: #E23955;
      width: 100%;
      padding: 2.5%;
      height: 100vh;
  }
 /*Página de bienvenida */
  .titulo_imagen_poketoriaPokebola {
      display: flex;
      padding: 10% 4% 0% 4%;
      justify-content: center;
  }
  
  .imagen_pokebola {
      width: 18%;
  }
  
  .imagen_poketoria {
      width: 78%;
  }
  
  .contenido {
      background-color: #ECFAFB;
      border: 5px solid #000000;
      box-sizing: border-box;
      border-radius: 31px;
      width: 95vw;
      min-height: 97vh;
  }
  
  main p {
      font-family: 'Press Start 2P', serif;
      font-size: 16px;
      text-align: center;
      margin: 5%;
      line-height: 18px;
    }
  
  .contenedor1 button {
      border: 3px solid;
      border-radius: 20PX;
      margin: 1vh 4vh 7vh 4vh;
      padding: 0% 4% 1% 3%;
      background-color: #F5EEC9;
  }
  
  button .imagen_boton {
      width: 100%;
      margin: 2%;
      padding: 4%;
      height: 62px;
  }
  
  button .imagen_boton3 {
      width: 90%;
      margin: 2%;
      padding: 4%;
  }
  
  .contenedor1 div {
      display: flex;
  }
  
  button h3 {
      font-family: 'Press Start 2P', serif;
      font-size: 12px;
      text-align: center;
      margin: -5%;
      border-top: 3px solid black;
  }
  
  #johto,
  #kanto {
      width: 31vw;
  }
  
  #ambos {
      width: 77vw;
      height: 21vh;
      margin-top: -4vh;
      margin-bottom: 4vh;
  }

/* Página listado de Pokémon */

  #flechaVolver {
      /* position: relative; */
      color: #E23955;
      text-decoration: none;
      /* padding: 1%;  */
      font-size: 23px;
      margin-right: 68vw;
  }
 
  #contenido2 {
    background-color: #ECFAFB;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 31px;
    width: 94vw;
    height: 70%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    align-items: center
}

  .tarjetaIndividual {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 30px;
      grid-template-areas: "." "pokeNum pokeNombre . pokeImg" ".";
      justify-content: space-between;
    }
  
  #listadoPokemon {
      display: flex;
      flex-direction: column;
      margin-top: 0vh;
    }
  
  .tarjetaPokemon {
      background-color: #DC9091;
      border: black solid;
      height: 50px;
      width: 85vw;
      margin: 3px 0;
      cursor: pointer;
  }
  
  .pokeImg {
      background-color: white;
      border-radius: 30%;
      margin: 4px;
      margin-right: 1px;
      margin-right: 10px;
      justify-self: end;
      grid-area: pokeImg;
  }
  
  #pokeNombre {
      grid-area: pokeNombre;
      justify-self: center;
      align-self: center;
  }
  
  h3 {
      font-family: 'Press Start 2P', serif;
      font-size: 12px;
      margin: auto 0;
  }
  
  .pokeNum {
      margin-left: 5vh;
      grid-area: pokeNum;
      justify-self: center;
      align-self: center;
    }
  
  h4 {
      font-family: 'Press Start 2P', serif;
      font-size: 10px;
      text-align: center;
      width: 50vw;
      padding-left: 0vh;
      margin-top: 1vh;
      margin-bottom: 1vh;
  }
  
  #tipo,
  #orden {
      margin-left: 5vh;
  }
  
  select {
     
      outline: 0;
      box-shadow: none;
      border: #000000 solid;
      width: 60vw;
      font-family: 'Press Start 2P', serif;
      margin-bottom: 2.5vh;
      background: #C4C4C4;
      margin-right: 0vw;
    }
  
  select:hover {
      box-shadow: 0 0 10px #b68e94, 0 0 40px #c07c87, 0 0 80px #a86876;
    }
  
  .opciones {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60vh;
      height: 20vh;
      margin-top: 1vh;
      margin-bottom: 3vh;
  }
  
  .imagen_poketoria_2 {
      width: 77vw;
      height: 10vh;
      margin-top: 3vh;
  }

/*Tarjeta informativa */

  #modal {
      display: none;
      font-family: 'Press Start 2P', serif;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      top: 0;
      left: 0;
      z-index: 1;
      padding-top: 65px;
      overflow: auto;
  }
  
  #modal .contenidoModal {
      margin: auto;
      height: 80vh;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 80%;
      border: 1px solid #456D36;
      box-sizing: border-box;
  }
  
  #modal .contenidoModal .encabezado {
      margin-top: -12px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      margin-bottom: 2vh;
    }
  
  
  #modal .contenidoModal .encabezado h1 {
      font-size: 12px;
  }
  
  .imagenBtnCerrar {
      cursor: pointer;
      padding: 6px 4px 4px 6px;
      width: 5vh;
      height: 5vh;
  }
  
  .rotar-btn,
  .rotar-btnB {
      padding-top: 10px;
      color: black;
      cursor: pointer;
      border-left: solid 3px;
      border-right: solid;
      height: 4vh;
    }

/*Lado A modal */

  #modal .contenidoModal .cuerpoModalA {
      font-size: 12px;
      overflow: auto;
      padding: 10px;
  }

  .titulo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 8px;
  }
  
  .numeroPoke {
      padding-right: 15px;
  }
  
  .marco {
      
      border: solid black 5px;
      display: flex;
      justify-content: center;
      margin-top: 3vh;
    }
  
  .imagenPokemonTarjeta {
      justify-self: center;
     
  }
  
  .tipos {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 2vh;
      margin-bottom: 2vh;
      padding-bottom: 2vh;
      border-bottom: solid black 3px;
  }
  
  .imagenTipo {
      width: 60px;
      height: 30px;
  }
  
  .descripcion {
      text-align: center;
      margin-bottom: 2vh;
      padding-bottom: 2vh;
      border-bottom: solid black 3px;
  }
  
  .medidas {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  
  .talla {
      border-right: solid black 3px;
      font-size: 20px;
  }
  
  .peso {
      font-size: 20px;
    }

/* Lado B modal */
  
  .estadisticos {
      background-color: white;
      border: solid black 3px;
      text-align: center;
      padding-bottom: 2vh;
      padding-top: 2vh;
      margin-top: 2vh;
      line-height: 18px;
    }
  
  .tituloB {
      display: flex;
      justify-content: center;
    }
  
  .resistenciaTitulo,
  .debilidadTitulo {
      margin-top: 2vh;
      text-align: center;
  }
  
  .resistencias,
  .debilidades {
      background-color: white;
      border: solid black 3px;
      padding-bottom: 2vh;
      padding-top: 2vh;
      margin-top: 2vh;
      display: flex;
      justify-content: space-around;
  }
  
  .debilidades {
    margin-bottom: 2vh;
  }
  
  .evoluciones {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
  }
  
  .prevolucionImg,
  .evolucionImg {
      width: 70px;
      height: 75px;
      background-color: white;
      border: solid black 3px;
      margin-top: 2vh;
  }
  
  .tallaTitulo,
  .pesoTitulo {
      width: 18vh;
    }